/*
  Custom styles for website specific elements not entirely covered by SA utilities
  e.g., Infinite Marquee Animation
*/

.client-marquee-container {
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: 2rem;
}

.client-marquee-content {
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    min-width: 100%;
    gap: 2rem;
    animation: scroll 20s linear infinite;
}

@keyframes scroll {
    from { transform: translateX(0); }
    to { transform: translateX(calc(-100% - 2rem)); }
}

.client-logo {
    font-size: 2rem;
    font-weight: bold;
    color: var(--sa-color-gray-400);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.client-logo span {
    font-size: 0.875rem;
}

.whatsapp-float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
